{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>attendance</title>
    </head>
    <body>
        <div class="box">
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="inputBox">
                    <input type="text" name="username" id="id_username" required/>
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" id="id_password" required/>
                    <label>Password</label>
                </div>
                <button type="submit" class="submit" name="">Login</button>
            </form>
        </div>
    </body>
</html>